.films-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.film-card {
    margin-bottom: 10px;
    padding-bottom: 50px;
    width: 100%;
    color: white;
}

.film-card.bg-light {
    color: #333;
}

@media (min-width: 576px) {
    .film-card {
        width: 49%;
    }
}

@media (min-width: 992px) {
    .film-card {
        width: 32%;
    }
}

.films-list .card-footer {
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.films-list .btn:not(:first-child) {
    margin-left: 10px;
}